@import "./common";

@mixin btn {
  width: 183px;
  text-transform: uppercase;
  font-size: map-get(map-get($text-size, text), size-xxs);
  line-height: 43px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 3px 7px map-get($palette, dark-gray);
  }
}

@mixin btn-blue {
  border: 1px solid map-get($palette, primary);
  background-color: map-get($palette, blue);
  color: map-get($palette, primary);
}

@mixin btn-regular {
  border: 1px solid map-get($palette, dark-gray);
  background-color: map-get($palette, primary);
  color: map-get($palette, dark-gray);
}
