.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: rgba(16, 16, 29, 0.9);

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 33px;
    padding-bottom: 30px;

    @media screen and (max-width: 720px) {
      flex-direction: column;
      justify-content: center;
    }
  }
}
