.intro {
  position: relative;
  padding: 200px 0;
  background-image: url("../assets/img/intro-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    font-size: map-get(map-get($text-size, headers), large);
    max-width: 780px;
    text-transform: uppercase;
    line-height: 58px;
    font-weight: 700;
    color: map-get($palette, primary-dark);
    margin: 0;
    margin-bottom: 80px;

    @media screen and (max-width: 640px) {
      font-size: 5.5vw;
      line-height: 6.5vw;
      margin-bottom: 30px;
    }
  }

  &__text {
    color: map-get($palette, primary-dark);
    font-size: map-get(map-get($text-size, text), primary);
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;

    @media screen and (max-width: 640px) {
      font-size: 4.5vw;
      line-height: 5vw;
      margin-bottom: 20px;
    }
  }

  &__list {
    list-style: none;
    font-size: map-get(map-get($text-size, text), primary);
    line-height: 24px;
    padding-left: 25px;
    margin: 0;
    margin-bottom: 80px;

    .intro__item {
      position: relative;

      &::before {
        content: "-";
        position: absolute;
        left: -18px;
      }
    }

    @media screen and (max-width: 640px) {
      font-size: 3.5vw;
      line-height: 4vw;
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 640px) {
    padding: 150px 0;
    padding-bottom: 75px;
  }
}
