.order {
  background-color: map-get($palette, dark-blue);
  background-image: url("../assets/img/layer-img.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 121px;
  padding-bottom: 151px;

  @media screen and (max-width: 1180px) {
    background-position: initial;
    background-size: initial;
    padding-top: 70px;
  }

  &__title {
    font-size: map-get(map-get($text-size, headers), primary);
    font-weight: 800;
    line-height: 43px;
    text-transform: uppercase;
    color: map-get($palette, primary);
    margin: 0;
    margin-bottom: 30px;

    @media screen and (max-width: 640px) {
      font-size: 5.5vw;
      line-height: 6.5vw;
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-size: map-get(map-get($text-size, text), size-m);
    line-height: 22px;
    color: map-get($palette, gray);
    margin: 0;
    margin-bottom: 80px;

    @media screen and (max-width: 1180px) {
      margin-bottom: 40px;
    }

    @media screen and (max-width: 640px) {
      font-size: 3.5vw;
      line-height: 4.5vw;
      margin-bottom: 30px;
    }
  }

  &__steps-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 80px;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__steps-item {
    position: relative;
    flex-basis: 210px;
    padding: 0 11px;
    margin: 0 -30px;
    margin-bottom: 30px;

    @media screen and (max-width: 1180px) {
      margin: 0;
      flex-basis: 165px;
      padding-top: 14px;
    }

    &:last-child {
      margin-right: 0;
    }

    .circle {
      position: relative;
      width: 100px;
      height: 100px;
      background-color: map-get($palette, blue);
      border: 5px solid map-get($palette, border-blue);
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 16px;
        left: 17px;
        width: 55px;
        height: 55px;
        background-repeat: no-repeat;
      }

      &_loupe::before {
        background-image: url("../assets/icons/loupe.svg");
      }

      &_percent::before {
        background-image: url("../assets/icons/percent.svg");
      }

      &_documnet::before {
        left: 15px;
        background-image: url("../assets/icons/document.svg");
      }

      &_mail::before {
        left: 15px;
        background-image: url("../assets/icons/mail-icon.svg");
      }

      &_money::before {
        background-image: url("../assets/icons/money.svg");
      }
    }

    .text {
      font-size: map-get(map-get($text-size, text), size-s);
      line-height: 19px;
      color: map-get($palette, primary);

      @media screen and (max-width: 640px) {
        font-size: map-get(map-get($text-size, text), size-xxs);
      }
    }
  }
}

.separator {
  display: flex;
  align-items: center;
  width: 95px;
  height: 100px;

  @media screen and (max-width: 1180px) {
    width: unset;
    height: unset;
    margin: 0 auto;
  }
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  &__item {
    width: 6px;
    height: 6px;
    background-color: #c4c4c4;
    border-radius: 50%;

    &_active {
      background-color: map-get($palette, active);
    }
  }

  @media screen and (max-width: 1180px) {
    flex-direction: column;
    height: 110px;
  }
}
