@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway&display=swap");
@import "./common/normalize.css";
@import "./common/common.scss";
@import "./common/buttons.scss";
@import "./header.scss";
@import "./logo.scss";
@import "./nav.scss";
@import "./intro.scss";
@import "./order.scss";
@import "./form/style.scss";
@import "./footer/style.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.highlight-text {
  color: map-get($palette, blue);
}

.btn-wrapper {
  display: flex;
  justify-content: start;
}

.button {
  @include btn;
  text-decoration: none;
  text-align: center;
}

.button__order {
  @include btn-blue;
}

.button__more {
  @include btn-regular;
  margin-left: 2%;
}

.button__submit {
  @include btn-blue;
  width: 370px;
  margin: 0 auto;

  @media screen and (max-width: 390px) {
    width: 100%;
  }
}
