$palette: (
  primary: #ffffff,
  primary-dark: #000000,
  dark-blue: #272733,
  gray-blue: #3d4050,
  gray: #bbbbbb,
  dark:#2A2B30,
  dark-gray: #6f6d7b,
  light-gray: #c3c3c3,
  active: #43abf0,
  blue: #3e9cdc,
  border-blue: #286690,
  blue-light: #42a9ed,
);

$text-size: (
  headers: (
    primary: 36px,
    large: 48px,
    logo: 28px,
  ),
  text: (
    primary: 20px,
    size-m: 18px,
    size-s: 16px,
    size-xs: 15px,
    size-xxs: 13px,
  ),
);
