.footer {
  background-color: map-get($palette, gray-blue);
  padding-top: 30px;
  padding-bottom: 30px;

  &__separator {
    display: block;
    position: relative;
    height: 16px;
    width: 1px;

    &::before {
      position: absolute;
      content: "|";
      top: 0;
      left: 0px;
      color: map-get($palette, light-gray);

      @media screen and (max-width: 1020px) {
        display: none;
      }
    }
  }

  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__section {
      position: relative;
    }

    @media screen and (max-width: 1020px) {
      flex-direction: column;
    }
  }
}
