@import "./common.scss";

.dropdown {
  @include form-item;
  position: relative;
  width: 100%;
  height: 48px;
  background: rgba(255, 255, 255, 0.85);
  outline-color: map-get($palette, blue);
  border: 1px solid map-get($palette, primary);
  color: map-get($palette, dark-blue);
  font-size: map-get(map-get($text-size, text), size-m);
  line-height: 44px;
  border-radius: 3px;
  padding: 0 10px;

  &_active {
    border: transparent;
    background-color: map-get($palette, gray-blue);
    color: map-get($palette, primary);
  }

  &__label {
    position: relative;
    display: block;
    white-space: nowrap;
    padding-right: 20px;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -3px;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../assets/icons/open-arrow.svg");
    }

    &_active::after {
      background-image: url("../assets/icons/close-arrow.svg");
    }
  }

  &__input {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 1;
    top: 48px;
    left: 0;
    width: 100%;
    height: 180px;
    overflow-y: scroll;
    background-color: map-get($palette, dark-blue);
    border: 1px solid map-get($palette, gray-blue);
    border-radius: 3px;
    color: map-get($palette, primary);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    scrollbar-color: map-get($palette, blue);

    &_visible {
      display: block;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      margin: 3px;
      background-color: map-get($palette, gray-blue);
      border-radius: 3x;
      -webkit-background-color: map-get($palette, gray-blue);
      -webkit-border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: map-get($palette, blue);
      border-radius: 3x;
      -webkit-background: map-get($palette, blue);
      -webkit-border-radius: 3px;
    }
  }

  &__item {
    cursor: pointer;
    padding-left: 10px;

    &:hover {
      color: map-get($palette, blue-light);
    }
  }
}
