.form {
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 30px;
    justify-items: stretch;
    align-items: start;
    grid-template-areas:
      "select email name"
      "range range file";

    margin-bottom: 55px;

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "select"
        "email"
        "name"
        "range"
        "file";
    }
  }

  &__item {
    &_select {
      grid-area: select;
      text-align: left;
    }

    &_email {
      grid-area: email;
    }

    &_name {
      grid-area: name;
    }

    &_range {
      grid-area: range;
    }

    &_file {
      grid-area: file;
    }
  }
}
